* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.NavBar_Container {
  font-size: calc(16px + 1vmin) !important;
  position: absolute;
  width: 100%;
}

.NavBar_Container a
{
    text-decoration: none !important;
    color: #fdf9f9 !important;
}

.NavBar_Container a:hover
{
    color: #7c7b7b !important;
}

.navbar-header
{
    font-size: calc(20px + 1vmin) !important;
}

.navbar {
  background-color: #363d7c !important;
  color: #fdf9f9 !important;
}

.nav-dropdown
{
    /* background-color: #fdf9f9; */
    border: solid #D2D2D2 0.5px;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
}

.nav-dropdown a
{
    color: #7c7b7b;
    width: 100%;
    padding: calc(2px + 1vmin);
}

.nav-dropdown a:hover
{
    border-bottom: solid #363d7c;
    border-radius: calc(2px + 1vmin);
}

@media (min-width: 991px) {
    .nav-dropdown
    {
        border: none;
    }
}